In [1]:
import pandas as pd
import numpy as np
import random
from faker import Faker
import uuid

In [2]:
# Setting number of rows
respondents = 3000

#defining the columns
data = pd.DataFrame(columns = ["id",
                                "name",
                                "age",
                                "marriage_status",
                                "gender",
                                "weight",
                                "height",
                                "hours_of_exercise",
                                "avg_daily_calories",
                                "diet_type",
                                "if_smokes",
                                "if_drinks",
                                "if_drugs",
                                "city",
                                "city_temperature",
                                "diseases_or_conditions",
                                "income",
                                "education_level"])

#Initializing faker
faker = Faker()

In [3]:
#creating unique id
data['id'] = [uuid.uuid4().hex for i in range(respondents)]

data.id.nunique()==respondents#Checking if the id is unique

1000

In [9]:
#creating a function for generating names
def name_gen(genders):
    """Generates name based on gender"""
    if genders == 'male':
        return faker.name_male()
    elif genders == 'female':
        return faker.name_female()
    
    return faker.name()

#running the name generator on the column
data['name'] = [name_gen(i) for i in data['gender']]

In [4]:
#randomizing genders 
genders = ["male","female"," "]
data["gender"] = random.choices(genders, weights=(43,43,10),k = respondents)

#Categories gen function
def cat_gen(col_name, choices):
    """Generates categorical data
    args - col_name, choices
    col_name: "column name"
    choices: [list of choices] """
    data[col_name] = random.choices(choices, k = respondents)
    return data[col_name]

#generating data for all categorical columns
cat_gen("marriage_status", ["single","married","divorced","widowed"])
cat_gen("diet_type", ["vegetarian","carb_rich","protein_based","other"])
cat_gen("if_smokes", ["yes","no"])
cat_gen("if_drinks", ["yes","no"])
cat_gen("if_drugs", ["yes","no"])
cat_gen("education_level", ["high_school","college","university","other"])
cat_gen("city",["New York","Tokyo", "Shanghai", "Delhi", "London", "Dubai", "Paris"])
cat_gen("diseases_or_conditions", ["diabetes","heart_disease","none","sugar_intolerance","other"])

0      sugar_intolerance
1                   none
2          heart_disease
3          heart_disease
4                   none
             ...
995    sugar_intolerance
996        heart_disease
997             diabetes
998                other
999        heart_disease
Name: diseases_or_conditions, Length: 1000, dtype: object

In [5]:
# Generating Numerical Data - age
age = []
for  i in range(respondents):
        age.append(random.randint(15,60))

data['age'] = age

# Creating a function to automate the generation of  numerical data
def numerical_gen(col_name,min,max):
        """Generates numerical data
        args- column, min, max
        col_name : "column name"
        min: minimum value
        max: maximum value"""
        data[col_name] = [random.randint(min,max) for i in range(respondents)]

#generating numerical data for all numerical columns
numerical_gen("weight",50,200)
numerical_gen("height",120,220)
numerical_gen("weight",45,130)
numerical_gen("hours_of_exercise",0,24)
numerical_gen("avg_daily_calories",0,4000)
numerical_gen("city_temperature",0,100)
numerical_gen("income",0,1000000)
numerical_gen("city_temperature",0,100)

In [11]:
data.describe()

,age,weight,height,hours_of_exercise,avg_daily_calories,city_temperature,income
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,37.653000,87.374000,170.428000,12.138000,1998.220000,49.890000,507302.043000
std,13.144481,25.335944,29.840732,7.251451,1170.272762,29.490772,289065.959564
min,15.000000,45.000000,120.000000,0.000000,3.000000,0.000000,258.000000
25%,26.750000,66.000000,144.000000,6.000000,988.250000,24.000000,249177.250000
50%,37.500000,87.000000,170.000000,13.000000,2003.500000,50.000000,507877.500000
75%,49.000000,109.250000,197.000000,19.000000,3026.250000,75.000000,755421.500000
max,60.000000,130.000000,220.000000,24.000000,3997.000000,100.000000,999007.000000

In [14]:
data.to_csv("./fake_data_export.csv", index = False)

In [16]:
data.shape

(1000, 18)